<form>
    <div>
      <label for="cedula">Cedula</label>
      <input id="cedula" placeholder="1234567890" [(ngModel)]="cedula" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="nombres">Nombres</label>
      <input id="nombres" placeholder="Daniel" [(ngModel)]="nombres" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="apellidos">Apellidos</label>
      <input id="apellidos" placeholder="Gonzalez" [(ngModel)]="apellidos" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="date" id="fechaNacimiento" [(ngModel)]="fecha_Nacimiento" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="full-width">
      <label for="direccion">Direccion</label>
      <input id="direccion" placeholder="Calle 123" [(ngModel)]="direccion" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="telefono">Telefono</label>
      <input id="telefono" placeholder="1234567890" [(ngModel)]="telefono" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" placeholder="exp@gmail.com" [(ngModel)]="email" [ngModelOptions]="{standalone:true}">
    </div>
    <div>
      <label for="tipoPago">Tipo de Pago</label>
      <select id="tipoPago" [(ngModel)]="id_tipo_pago" [ngModelOptions]="{standalone: true}" required>
        <option value="" disabled selected>Seleccione una opción</option>
        <option *ngFor="let tipo of tipoPago" [value]="tipo.tipo_code">{{tipo.tipo}}</option>
      </select>
    </div>
    <div>
      <label for="estadoActivo">Estado</label>
      <input type="checkbox" id="estadoActivo" [(ngModel)]="estado" [ngModelOptions]="{standalone:true}">
    </div>
    <button (click)="saveClient()">{{ editarVoF ? 'Editar' : 'Crear' }}</button>
    <button (click)="closeDialog()">Cancelar</button>
  </form>
  