/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/images/FondoLogin.jpg') center/cover no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    background-color: rgba(255, 255, 255, 5); /* Blanco con 90% de opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5); /* Sombra con desenfoque */
    text-align: center;
    width: 100%;
    max-width: 400px;
}


.logo img {
    width: 100px; /* Ajusta el tamaño del contenedor según necesites */
    height: 100px; /* Ajusta el tamaño del contenedor según necesites */
    margin-bottom: 20px;
    background-color: black;
    border-radius: 50%; /* Ajustado a 50% para un círculo perfecto */
    padding: 15px; /* Agrega espacio interno (padding) */
}

h1 {
    margin-bottom: 20px;
    color: #000000; /* Negro */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000; /* Negro */
}

.input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #1e2460; /* Verde */
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    color: #000000; /* Negro */
}

.input-group input:focus {
    border-color: #1e2460;
}

.login-button {
    background-color: #1e2460;
    color: #ffffff; /* Blanco */
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #2c38c5; /* Verde más oscuro al hacer hover */
}

/* Responsive */
@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .logo img {
        width: 80px;
    }
}

.error-message {
    color: red;
    /* Otros estilos como margen, padding, etc. */
  }