/* Estilo general para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo general para el contenedor */
.container {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Estilo para el título principal */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para la información de la factura */
.factura-info {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.factura-info label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  margin-right: 10px;
}

/* Estilo para las secciones de detalles */
.invoice-details, .customer-details, .payment-details {
  margin: 20px 0;
}

/* Estilo para el título de productos */
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Estilo para la tabla de productos */
.table-responsive {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilo para el botón de imprimir */
button.btn.btn-primary {
  display: block;
  width: 200px;
  margin: 0 auto 20px auto; /* Alineado al centro con margen inferior */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para el mensaje de carga */
p {
  text-align: center;
  font-size: 1.2em;
  color: #888;
}

/* Estilos específicos para la impresión */
@media print {
  /* Ocultar el menú lateral y el botón de imprimir */
  app-sidebar,
  button.btn.btn-primary {
      display: none;
  }

  /* Ajustar el contenedor para impresión */
  .container {
      max-width: 100%;
      padding: 0;
      margin: 0;
      border: none;
  }

  /* Ajustar márgenes y paddings para la impresión */
  .factura-info, .table-responsive {
      border: none;
      padding: 0;
  }

  /* Eliminar bordes de la tabla para la impresión */
  table, th, td {
      border: 1px solid #000;
  }

  /* Ocultar cualquier otro elemento no deseado */
  .no-print {
      display: none;
  }
}
