<form (ngSubmit)="saveTipoPago()" #tipoPagoForm="ngForm">
    <div class="mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="tipo"
          placeholder="Efectivo"
          [(ngModel)]="tipo"
          name="tipo"
          #tipoRef="ngModel"
          required
          [ngClass]="{'is-invalid': tipoRef.invalid && tipoRef.touched}"
        />
        <label for="tipo">Tipo de Pago</label>
        <div *ngIf="tipoRef.invalid && tipoRef.touched" class="invalid-feedback">
          El tipo de pago es requerido.
        </div>
      </div>
    </div>
  
    <div class="mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="descripcion"
          placeholder="Pago en efectivo"
          [(ngModel)]="descripcion"
          name="descripcion"
          #descripcionRef="ngModel"
          required
          [ngClass]="{'is-invalid': descripcionRef.invalid && descripcionRef.touched}"
        />
        <label for="descripcion">Descripción</label>
        <div *ngIf="descripcionRef.invalid && descripcionRef.touched" class="invalid-feedback">
          La descripción es requerida.
        </div>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="tipoPagoForm.invalid">{{ EditarVoF ? 'Editar' : 'Crear' }}</button>
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancelar</button>
  </form>
  