<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/font-awesome/5.15.1/css/all.min.css">
    <title>Inicio</title>
</head>
<body>
    <div class="head">
        <div class="logo">
           <img src="../../assets/images/Logo.png" alt="Logo" width="90px" height="80px">
        </div>
        <div class="navbar">
            <a href="#">Login</a>
        </div>
    </div>
    <header class="content header">
        <h2 class="title">Sistema de gestión de facturación</h2>
        <p>Este sistema está diseñado para facilitar la creación y el manejo de tus facturas, ofreciéndote una plataforma rápida y sencilla de usar que te asistirá en cada paso del proceso.</p>
        <p class="parr">Inicia sesión para comenzar a optimizar tus facturas y mejorar la administración de tu negocio.</p>
    </header>
    <section class="content sau"></section>
</body>
</html>