<app-sidebar></app-sidebar>

<div class="container">
    <h1>Gestión de Clientes</h1>
    <button mat-raised-button (click)="openDialog()" class="botonCrear">Crear Usuario</button>
    
    <!-- Campo de búsqueda -->
    <div class="input-group mb-3" style="width: 200px; float: right;">
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscarTexto" (input)="filtrarClientes()">
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tipo de Pago</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientesMostrados">
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.nombres}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.fecha_nacimiento}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.tipoPagoNombre}}</td>
                    <td>{{cliente.estado ? 'Activo' : 'Inactivo'}}</td>
                    <td>
                        <button class="editar" (click)="openDialog(cliente, true)">Editar</button>
                        <button class="eliminar" (click)="deleteCliente(cliente.cedula)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Proceso de paginación -->
        <div class="d-flex justify-content-between align-items-center">
            <span>Mostrando {{(paginaActual - 1) * clientesPorPagina + 1}} a {{paginaActual * clientesPorPagina > clientesFiltrados.length ? clientesFiltrados.length : paginaActual * clientesPorPagina}} de {{clientesFiltrados.length}} clientes</span>
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                    <li class="page-item" [class.disabled]="paginaActual === 1">
                        <a class="page-link" href="#" (click)="cambiarPagina(paginaActual - 1, $event)">Previous</a>
                    </li>
                    <li class="page-item" [class.active]="paginaActual === n" *ngFor="let n of getNumeroPaginas()">
                        <a class="page-link" href="#" (click)="cambiarPagina(n, $event)">{{n}}</a>
                    </li>
                    <li class="page-item" [class.disabled]="paginaActual === getNumeroPaginas().length">
                        <a class="page-link" href="#" (click)="cambiarPagina(paginaActual + 1, $event)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
